@media(max-width:480px){
  header{
    height: 40px;
  }
  .logo{
    font-size: 15px;
    padding: 13px 0 0 7px;
  }
  .top-wrapper{
    height: 200px;
    padding: 60px 0 0 20px;
  }
  .top-message h1{
    font-size: 30px;
  }
  .top-message p{
    font-size:15px;
  }
  .btn{
    width: 60%;
    font-size: 20px;
  }
  .twitter{
    margin: 0 0 10px 0;
  }
  .content{
    padding: 5px 10px;
  }
  .fas{
    margin: 0 5px;
  }
  .content h2{
    font-size: 20px;
  }
  .content p{
    font-size: 15px;
  }
  .content p2{
    font-size: 12px;
  }
  .wrapper{
    height:200px;
    padding: 20px 20px 0 20px;
  }
  .menu-title{
    font-size: 10px;
    width:80px;
  }
  .header-right ul{
    width:80px;
    font-size: 15px;
  }
  .message-heading h2{
    font-size: 20px;
  }
  .message-heading p{
    font-size: 12px;
  }
  textarea{
    width:80%;
    height:100px;
  }
  footer{
    font-size: 15px;
    height: 40px;
    line-height: 40px;
  }
}
